{{>header}}
{{>navbar}}
<section class="container my-5">
    {{#if allData}}
    <h4 class="">{{allData.title}}</h4>
    <span class="text-muted">{{allData.date}}</span>
    <p class="text-justify">
        {{allData.content}}
    </p>
    <a href="/" class="btn btn-primary">Back Home</a>    

    {{else}}
    <div class="alert alert-danger text-center">
        <p>Invalid user data</p>
        <a href="/" class="btn btn-primary">Back Home</a>    
    </div>
    {{/if}}
</section>

{{>footer}}