{{>header}}
{{>navbar}}
<section class="container my-5">
    <form method="post">
        <div class="mb-3">
            <input placeholder="name" name="name" class="form-control">
        </div>
        <div class="mb-3">
            <input placeholder="age" name="age" class="form-control">
        </div>
        <div class="mb-3">
            <input placeholder="status" name="status" class="form-control" >
        </div>
        <div class="mb-3">
            <input placeholder="phone" name="phone" class="form-control" >
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">Add</button>
        </div>

    </form>
</section>
{{>footer}}